.headerContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.searchBox {
    top: 70%;
    position: absolute;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;
    gap: 24px;
}

.buttonContainer {
    height: 142px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

@media (width > 660px) {
    .searchBox {
        top: 74.5%;
    }

    .contentContainer {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}