.headerContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4.5rem;
    gap: 24px;
}

.searchBox {
    top: 70%;
    position: absolute;
}