.header {
    background-color: #5964E0;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.5rem;
    padding: 1rem;
    position: relative;
}

.triangle {
    position: absolute;
    left: 0;
    bottom: 0;
}

.triangle2 {
    position: absolute;
    right: 0;
    top: 0;
}

.container {
    display: flex;
    width: 327px;
    justify-content: space-between;
    margin-top: -2.8rem;
}

.h1 {
    font-size: 32px;
}

.themeSwitcher {
    display: flex;
}