.header {
    background-color: #5964E0;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8.5rem;
    padding: 1rem;
}

.h1 {
    font-size: 32px;
}