.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 112px;
}

.img {
    height: auto;
    max-width: 100%;
}

.rectangle {
    all: unset;
    display: flex;
    position: relative;
    cursor: pointer;
}

.rectangleImg {
    height: 100%;
    width: 100%;
}

.blueCircle {
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    transition: transform 0.3s ease;
}

.circle.move-right {
    transform: translate(-25%, -50%);
}